body {
  margin: 0;
  padding: 0;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}

.sega_font{
  font-family: 'SEGA LOGO FONT', sans-serif;
  font-weight: 200px;
  color: #0ccac4;                       
}

.cba{
  font-family: 'Covered By Your Grace', cursive;
}
