body{
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.4);
}
#jstest-el{
    color: red;
    text-transform: uppercase;
}
#title-el{
    color:green;
    text-transform: uppercase;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    display: flex;
}
.nav-items > li{
    padding: 10px;
}
