body{
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#jstest-el{
    color: red;
    text-transform: uppercase;
}
#title-el{
    color:green;
    text-transform: uppercase;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    width: 80px;
}
.nav-items{
    list-style: none;
    display: flex;
}
.nav-items > li{
    padding: 10px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: rgba(0,100,0,.7);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
